
/* START MAIN RULZ */
body {
   /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 1170px;
    margin: auto;
}

/* END MAIN RULZ*/
/* start links */
a:link {
    color:#fff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #fff;
    background-color: #57A946;
    text-decoration: none;
  }
  
  a:hover {
    color:#fff;
    text-decoration: none;
  }
  
  a:active {
    color: #fff;
    background-color: #245a01;
    text-decoration: none;
  }
/* End links */
/* start Header */

.header .navbar {
    background-color: #252F31;
    color: #fff;
    overflow: hidden;
}
#icon{
    width: 40px;
    float:left;
   padding-top: 0px;
}
.header .navbar h2 {
    float: left;
    padding-left: 10px;
    margin: 0%;
    padding-top: 7px;
}
.header .navbar span{
    color:#57A946;
}

.header .navbar .container  ul {
    height: 100%;
    list-style:none;
    padding-left:10px;
    float: right;
    padding: 0px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.header .navbar .container ul li {
    height: 100%;
    padding: 10px;
    word-spacing: 10px;
    font-size: larger;
}

.menu-item {
    float: left;
}
 .navbar ul li:hover {
    background-color: #245a01;
}
/* End Header */
/* start sub drop */
.sub-contect {
    font-size: small;
    position: absolute;
    top: 41px;
    overflow: hidden;
    background-color: #252F31;
    background: rgba(37, 47,45, 0.7);
    padding: 0%;
    max-height: 0px;
    height: 110px;
    width: 302px;
    margin: 0%;

}
.sub-drop ul {
    list-style-position: outside;   
    float: left; 
}


.menu-item:hover .sub-contect{
    max-height: 4000px;
    transition: max-height 1.5s ease-in;
}

/* End sub drop */
/* start about */
#abouthead{
    text-align: center;
    height: 200px;
    color: #57A946;
    font-size:100px;
    padding-top: 20px;
}
#hicishead{
    text-align: center;
    height: 200px;
    color: #57A946;
    font-size:75px;
    padding-top: 20px;
}
.parone{
    float: left;
    width: 540px;
    margin: auto;
    padding: 20px;
    color: rgb(105, 105, 105);
    padding-bottom: 50px;
}
.partow{
    float: left;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(105, 105, 105);
    padding-bottom: 50px;
}
.parthre{
    float: right;
    width: 540px;
    margin: auto;
    padding: 25px;
    color: rgb(105, 105, 105);
    padding-bottom: 50px;
}
#hithr {
    float: right;
    width: 1170px;
}
/* end about */
/* Start Gallry*/
.gallery{
    padding: 20px;
    float:right;
    align-items: center;
    align-content: center;
}
.gallery:hover{
    padding: 0px;
    width: 390px;
}
/* End gallry */
/* Start landbar */
.landbar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #252F31;
    color: #fff;
    overflow: hidden;
    float: left;
    margin: auto;
    width: 100%;
}
.landbar a:hover{
    color: #57A946;
}
.landsec
{
    float :left;
    width: 40%;
    padding: 30px;
}

.landsec h3{
    color: #57A946;   
    padding: 10px;
}
.copyright{
    width: 100%;
    float: left;
    padding-bottom: 20px;
    text-align: center;
}
.landbar  span{
    color: #57A946;
}
.landbar ul{
    list-style:none;
}
/* End landbar */
/* start hicis page style*/
.container .parone span{
    font-size: larger;
    color:#57A946;
}
.container .partow span{
    font-size: larger;
    color:#57A946;
}
.container .parthre span{
    color:#57A946;
    float:left;
}
li span{
    color:#57A946;
}
.imgone{
    float: right;
    width: 450px;
    height: 300px;
    margin: auto;
    padding: 20px;
}
.imgtwo{
    float:right;
    height: 300px;
    margin: auto;
    padding: 20px;
}
.title{
    float: right;
    margin: auto;
    padding-right: 60px;
}
.goals{
    float: left;
    width: 100%;
    margin: auto;
    padding-left: 70px;
    color: rgb(105, 105, 105);

}
.goals2{
    float: left;
    padding-left: 70px;
    color: rgb(105, 105, 105);
}
.list4{
    list-style:square;
    float: left;
    padding-left: 70px;
    color: rgb(105, 105, 105);
}
.list3{
    list-style:square;
    width: 540px;
    float: left;
    padding-left: 70px;
    color: rgb(105, 105, 105);
}
/* end hicis page style*/
/* Start contact us page style*/
.contac1{
    padding:30px;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 0PX;
    width: 39.5%;
    height: 351px;
    float:left;
    background-color: #200092;
    color:#fff;
}
.contac2{
    padding: 10px;
    margin:5px
}
.contac-img{
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 0px;
    width: 59.5%;
    float:right;
}
.contac3 span{
    color:#57A946;
}
.contac3{
    padding-left: 55px;
    height: 40PX;
    padding-bottom: 15px;
}
.contac3 :hover{
    color:#57A946;
}
.contac-icon{
    width: 40px;
    float:left;
}
/* End contact us page style*/
/* Start News page style*/
.news1{
    width: 30%;
    margin: 1.5%;
    height: 350px;
    background-color: rgb(233, 233, 233);
    float: left;
}
.news-img{
    width: 100%;
    height: 230px;
    margin: 0px;
    padding: 0px;
}
.news-title{
    width: 100%;
    margin: 10px;
    padding: 0px;
    height: 40px;
    color: rgb(105, 105, 105);
}
.news-more{
    width: 95%;
    height: 40px;
    margin: 0%;
    padding-top: 0px;
    border-style: solid;
    border-color:#57A946;
    color:#57A946;
    float:initial;
    font-size: 30px;
    float: inline-end;
    background-color: #57A946;
}
.news-more :hover{
    text-decoration: underline;
}

/* End News page style*/